<h1 className="posts__title">Posts</h1>
<ng-container *ngIf="posts$ | async; let posts; else: loading">
  <ng-container *ngIf="users$ | async; let users">
    <label for="users">Filter posts</label>
    <input
      [formControl]="filterByUserControl"
      placeholder="Enter user name..."
      className="posts__filter-input"
      list="users-datalist"
      name="users"
      id="users"
    />
    <datalist placeholder="Filter posts" id="users-datalist">
      <option *ngFor="let user of users">{{ user.username }}</option>
    </datalist>

    <pagination
      *ngIf="posts"
      [paginationLinks]="posts.paginationLinks"
      (paginate)="paginatePosts($event)"
    ></pagination>

    <ng-container *ngFor="let post of posts.data; trackBy: trackPostsBy">
      <post-link
        [post]="post"
        [user]="users | findUserById: post.userId"
      ></post-link>
    </ng-container>

    <pagination
      *ngIf="posts"
      [paginationLinks]="posts.paginationLinks"
      (paginate)="paginatePosts($event)"
    ></pagination>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div>Loading posts...</div>
</ng-template>
