<button
  class="button"
  (click)="outputPaginate(paginationLinks.first)"
  [disabled]="!paginationLinks.prev"
>
  First
</button>
<button
  class="button"
  (click)="outputPaginate(paginationLinks.prev)"
  [disabled]="!paginationLinks.prev"
>
  Prev
</button>
<button
  class="button"
  (click)="outputPaginate(paginationLinks.next)"
  [disabled]="!paginationLinks.next"
>
  Next
</button>
<button
  class="button"
  (click)="outputPaginate(paginationLinks.last)"
  [disabled]="!paginationLinks.next"
>
  Last
</button>
