:host {
  background: grey;
  border-radius: 4px;
  color: white;
  display: block;
  margin-bottom: 16px;
  padding: 16px;

  a {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
}
